﻿<div class="col">
  <div class="diagram">
    <img src="../../assets/img/chart.png" alt="">
  </div>
  <h1 class="text-center title">Please use the controls below to start the timer</h1>
  <br />
  <div class="d-flex bt-wrap"> 
    <button class="btn start-bt">Start</button>
    <button class="btn stop-bt">Stop</button>
     <button class="btn capture-bt">Capture</button> 
  </div>
  <br />
  <br />
  <div class="table-responsive table-wrap">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Duration</th>
            <th scope="col">Project</th>
            <th scope="col">Module</th>
            <th scope="col">Function</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">30/07/2020</th>
            <td>10.00 am</td>
            <td>07.00 pm</td>
            <td>9 hrs</td>
            <td>Sunswept</td>
            <td>Authentication</td>
            <td>FE Development</td>
            <td>Coding</td>
            <td>I have worked on login and logout section with welcome dashboard</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group">
                <input class="form-control" type="date" [class.is-invalid]="f.date.touched && f.date.invalid" id="date"
                  formControlName="date">
                <div class="invalid-feedback" *ngIf="f.date.touched && f.date.invalid">
                  <div *ngIf="f.date.errors.required">
                    * The date field is required.
                  </div>
                </div>
              </div>
            </th>
            <td><input type="time"></td>
            <td><input type="time"></td>
            <td><input type="text"></td>
            <td>
              <select name="" id="">
                <option value="">-- Select Project --</option>
                <option value="Project 1">Wayaj </option>
                <option value="Project 3">Sunswept  </option>
                <option value="Project 3">AtEase</option>
              </select>
            </td>
            <td>
              <select name="" id="">
                <option value="">-- Select Module --</option>
                <option value="">Module 1</option>
                <option value="">Module 2</option>
                <option value="">Module 3</option>
              </select>
            </td>
            <td>
              <select name="" id="">
                <option value="">-- Select Function --</option>
                <option value="">Function 1</option>
                <option value="">Function 2</option>
                <option value="">Function 3</option>
              </select>
            </td>
            <td>
              <select name="" id="">
                <option value="">-- Select Type --</option>
                <option value="">Type 1</option>
                <option value="">Type 2</option>
                <option value="">Type 3</option>
              </select>
            </td>
            <td><textarea name="" id="" cols="40" rows="5"></textarea></td>
            <td><button class="btn btn-primary btn-sm blue-bt">Save</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>