﻿<div class="col">
  <div class="diagram">
    <img src="../../assets/img/chart.png" alt="">
  </div>
  <h1 class="text-center title">Please use the controls below to start the timer</h1>
  <br />
  <div class="d-flex bt-wrap">
    <button class="btn start-bt" (click)="start()" [disabled]="isStartDateTime">Start</button>&nbsp;
    <button class="btn stop-bt" (click)="stop()" [disabled]="isStopDateTime">Stop</button>&nbsp;
    <button class="btn capture-bt" (click)="capture()" [disabled]="isCaptured">Capture</button>
  </div>
  <br />
  <div class="text-center duration-log" *ngIf="startDateTime || stopDateTime">
    <span *ngIf="startDateTime">{{ startDateTime }}</span>
    <span *ngIf="stopDateTime">{{ ' - ' + stopDateTime }}</span>
  </div>
  <br />
  <br />
  <!-- {{ form.value | json }} -->
  <button *ngIf="startDateTime || stopDateTime" type="submit" class="btn btn-danger btn-sm pull-right"
    (click)="reset()">Reset</button>
  <div class="alert alert-danger" *ngIf="form.errors">
    Please fillup all the fields to save the data.
  </div>
  <div class="table-responsive table-wrap">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Duration</th>
            <th scope="col">Project</th>
            <th scope="col">Module</th>
            <th scope="col">Function</th>
            <th scope="col">Type</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of timeSheets">
            <th scope="row">{{ t.date | date:"MM/dd/yyyy" }}</th>
            <td>{{ t.date + ' ' + t.fromTime | date: "shortTime" }}</td>
            <td>{{ t.date + ' ' + t.toTime | date: "shortTime" }}</td>
            <td>{{ calculateDuration(t.fromTime, t.toTime) + ' hrs' }}</td>
            <td>{{ t.project }}</td>
            <td>{{ t.module }}</td>
            <td>{{ t.function }}</td>
            <td>{{ t.type }}</td>
            <td colspan="2">{{ t.description }}</td>
          </tr>
          <tr>
            <th scope="row">
              <div class="form-group">
                <input class="form-control" type="date" [class.is-invalid]="f.date.touched && f.date.invalid" id="date"
                  formControlName="date">
                <div class="invalid-feedback" *ngIf="f.date.touched && f.date.invalid">
                  <div *ngIf="f.date.errors.required">
                    * The date field is required.
                  </div>
                </div>
              </div>
            </th>
            <td>
              <div class="form-group">
                <input class="form-control" type="time" [class.is-invalid]="f.fromTime.touched && f.fromTime.invalid"
                  id="fromTime" formControlName="fromTime">
                <div class="invalid-feedback" *ngIf="f.fromTime.touched && f.fromTime.invalid">
                  <div *ngIf="f.fromTime.errors.required">
                    * The from field is required.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <input class="form-control" type="time" [class.is-invalid]="f.toTime.touched && f.toTime.invalid"
                  id="toTime" formControlName="toTime">
                <div class="invalid-feedback" *ngIf="f.toTime.touched && f.toTime.invalid">
                  <div *ngIf="f.toTime.errors.required">
                    * The to field is required.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="text" class="form-control"
                  value="{{ calculateDuration(f.fromTime.value, f.toTime.value) + ' hrs' }}" readonly>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="" formControlName="project"
                  [class.is-invalid]="f.project.touched && f.project.invalid">
                  <option value="">-- Select Project --</option>
                  <option *ngFor="let p of projects" value="{{ p }}">{{ p }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="f.project.touched && f.project.invalid">
                  <div *ngIf="f.project.errors.required">
                    * The project field is required.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="" formControlName="module"
                  [class.is-invalid]="f.module.touched && f.module.invalid">
                  <option value="">-- Select Module --</option>
                  <option *ngFor="let m of modules" value="{{ m }}">{{ m }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="f.module.touched && f.module.invalid">
                  <div *ngIf="f.module.errors.required">
                    * The module field is required.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="" formControlName="function"
                  [class.is-invalid]="f.function.touched && f.function.invalid">
                  <option value="">-- Select Function --</option>
                  <option *ngFor="let f of functions" value="{{ f }}">{{ f }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="f.function.touched && f.function.invalid">
                  <div *ngIf="f.function.errors.required">
                    * The function field is required.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="" formControlName="type"
                  [class.is-invalid]="f.type.touched && f.type.invalid">
                  <option value="">-- Select Type --</option>
                  <option *ngFor="let t of types" value="{{ t }}">{{ t }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="f.type.touched && f.type.invalid">
                  <div *ngIf="f.type.errors.required">
                    * The type field is required.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <div class="form-group">
                <textarea class="form-control" id="" formControlName="description"
                  [class.is-invalid]="f.description.touched && f.description.invalid" cols="40" rows="5">
                </textarea>
                <div class="invalid-feedback" *ngIf="f.description.touched && f.description.invalid">
                  <div *ngIf="f.description.errors.required">
                    * The description field is required.
                  </div>
                </div>
              </div>
            </td>
            <td>
              <button type="submit" class="btn btn-primary btn-sm blue-bt" [disabled]="!form.valid">Save</button>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>